<h1>Example of using submitted form params (GET)</h1>

<p>This page shows the form params submitted from <%= link_to("Starter Form", forms_starter_form_path)%></a></p>

<h3>Submitted Params</h3>
<p>Using "@params[:given_text]" gives us: "<%= @params[:given_text] %>"</p>
